<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Cover</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" routerLink="/home">Home</a>
          <a class="nav-link" routerLink="/about-us">about</a>
          <a class="nav-link" routerLink="/provinsi">Contact</a>
          <a class="nav-link" routerLink="/list-provinsi">Provinsi</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <router-outlet></router-outlet>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </footer>
  </div>

