<section class="my-5">
    <br><br><br>
    <div>
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="ID ( lebih dari 1000 )" formControlName="kodeBps">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" placeholder="Nama Provinsi ( lebih dari 4 )" formControlName="namaKabupaten">
                </div>
            </div>
            <div class="form-gourp">
                <select class="form-control" id="dataprovinsi" formControlName="kodeProvinsi" [disabled]="form.get('kodeProvinsi').valid">
                    <option *ngFor="let provinsi of listProvinsi" [value]="provinsi.kodeBps">
                        <p>
                            {{provinsi.namaProvinsi}}
                        </p>
                    </option>
                </select>
            </div>
            <br>
            <br><br>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" (onClick)="save()">insert</button>
                </div>
            </div>
        </form>
    </div>
</section>